*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-spacing: -3px;
    letter-spacing: -3px;
    background-color: rgb(2, 0, 45);
    font-family: 'Poppins', sans-serif;
}


.border-box
{
    text-align: center;
    margin:50px;
    padding: 40px;
    border: 2px solid rgb(225, 0, 255);
    height: auto;
    /* border-radius: 20px; */
    color: rgb(21, 39, 55);
}

.name_container:hover
{
    text-shadow: 0px 0px 10px rgba(0, 255, 242, 0.75);
    filter: dropshadow(color= rgba(0, 255, 242, 0.75), offx=0, offy=0);
}

.name_container_tag:hover
{
    text-shadow: 0px 0px 10px rgba(0, 255, 242, 0.5);
    filter: dropshadow(color= rgba(0, 255, 242, 0.5), offx=0, offy=0);
}